.stage {
    width: 40%;
    height: 35px;
    margin: 0 auto;
    background-color: rgb(180, 202, 231);
    color: rgb(42, 100, 100);
    text-align: center;
    line-height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
}


.divspan {
    text-align: center;
}

.span1 {
    padding: 5px 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(183, 222, 228);
}

.span2 {
    color: rgb(167, 24, 24);
    font-weight: bold;
}

.chairs-box {
    display: flex;
    flex-wrap: wrap;
}

.liclass {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    list-style: none;
    margin: 5px;
    line-height: 40px;
    cursor: pointer;
}

.unselected {
    background-color: rgb(229, 220, 238);
}

.selected {
    background-color: rgb(12, 136, 12);
}

.prereserve {
    background-color: rgb(233, 172, 81);
}


.reserved {
    background-color: rgb(216, 24, 24);
}

.box {
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}


.boxA {
    width: 35%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

.boxB {
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

.boxC {
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}


.boxD {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
}


@media screen and (min-width: 1800px) {
    .boxA {
        width: 33%;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 5px;
    }

    .boxB {
        width: 23%;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 5px;
    }

    .boxC {
        width: 23%;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 5px;
    }


    .boxD {
        width: 47%;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 0 auto;
    }
}